[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'grechka' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e900";
}
.icon-facebook:before {
  content: "\e901";
}
.icon-like:before {
  content: "\e902";
}
.icon-next:before {
  content: "\e903";
}
.icon-odnoklassniki:before {
  content: "\e904";
}
.icon-prev:before {
  content: "\e905";
}
.icon-short-next:before {
  content: "\e906";
}
.icon-short-prev:before {
  content: "\e907";
}
.icon-vk:before {
  content: "\e908";
}
